@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Josefin+Sans:wght@300&family=Lato:ital,wght@1,300&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: aquamarine;
  text-align: center;
}

header h1 {
  padding: 10px 10px;
  text-align: center;
  color: black;
}
/* 
div {
  margin: 20px;
} */

main h2 {
  margin: 1rem;
}

main {
  margin: 0 0 7rem;
}

.input-text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;

  border: 2px solid indigo;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#check-btn {
  background: blueviolet;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

#output {
  font-weight: bold;
  font-size: large;
}
